__pycache__
.venv*
*.pyc
**.DS_Store
**.coverage
**.hypothesis
coverage.xml
**.idea
docstring-coverage.txt
.mypy_cache/
data/**
checkpoints/**
logs/**
debug_logs/**
**.egg-info
.vscode/**
tokens.json
temp
temp2
wandb
lib
# ignore all notebooks
.cursorignore
.specstory
before_dep.txt
varlen_samples_debug/unconditional_samples copy.json
varlen_samples_debug/unconditional_samples.json
*.arrow
torch_compile_debug
.secrets.env
**/.ipynb_checkpoints/
lib

tests/**/*.txt
tests/**/*.out
**/dist/

# don't push .env
.env

data/**
temp_*.pdf


# docs
site