__pycache__
.venv*
*.pyc
**.DS_Store
**.coverage
**.hypothesis
coverage.xml
**.idea
docstring-coverage.txt
.mypy_cache/
data/**
checkpoints/**
logs/**
debug_logs/**
**.egg-info
.vscode/**
tokens.json
temp
temp2
wandb
lib
# ignore all notebooks
.cursorignore
.specstory
before_dep.txt
varlen_samples_debug/unconditional_samples copy.json
varlen_samples_debug/unconditional_samples.json
*.arrow
torch_compile_debug
.secrets.env
**/.ipynb_checkpoints/
lib
pcdd_xlm.code-workspace
configs_old/common/cluster/unity_default.yaml
configs_old/common/cluster/unity_gypsum.yaml
configs_old/common/hydra/default.yaml
configs_old/common/paths/default.yaml
configs_old/lightning_train/config.yaml
configs_old/lightning_train/dataset_generative_perplexity.yaml
configs_old/lightning_train/dataset_nll.yaml
configs_old/lightning_train/generative_perplexity.yaml
configs_old/lightning_train/train.yaml
configs_old/lightning_train/callbacks/checkpoint_every_n_steps_with_thinning.yaml
configs_old/lightning_train/callbacks/checkpoint_monitor.yaml
configs_old/lightning_train/callbacks/debug_small_data.yaml
configs_old/lightning_train/callbacks/debug_v2.yaml
configs_old/lightning_train/callbacks/debug.yaml
configs_old/lightning_train/callbacks/default_v2.yaml
configs_old/lightning_train/callbacks/default.yaml
configs_old/lightning_train/callbacks/ema.yaml
configs_old/lightning_train/callbacks/file_friendly_progress_bar.yaml
configs_old/lightning_train/callbacks/learning_rate_monitor.yaml
configs_old/lightning_train/callbacks/log_gradients_to_tensorboard.yaml
configs_old/lightning_train/callbacks/on_exception_checkpoint.yaml
configs_old/lightning_train/callbacks/print_batch_v2.yaml
configs_old/lightning_train/callbacks/print_batch.yaml
configs_old/lightning_train/callbacks/speed_monitor.yaml
configs_old/lightning_train/callbacks/unconditional_samples.yaml
configs_old/lightning_train/collation_strategy/default.yaml
configs_old/lightning_train/collation_strategy/pad_truncate.yaml
configs_old/lightning_train/collation_strategy/pad.yaml
configs_old/lightning_train/collation_strategy/wrap.yaml
configs_old/lightning_train/datamodule/arlm_grammar.yaml
configs_old/lightning_train/datamodule/arlm_lm1b.yaml
configs_old/lightning_train/datamodule/arlm_stories.yaml
configs_old/lightning_train/datamodule/countdown_ilm_stopping.yaml
configs_old/lightning_train/datamodule/countdown.yaml
configs_old/lightning_train/datamodule/default_varlen.yaml
configs_old/lightning_train/datamodule/default.yaml
configs_old/lightning_train/datamodule/grammar.yaml
configs_old/lightning_train/datamodule/idlm_grammar.yaml
configs_old/lightning_train/datamodule/idlm_lm1b.yaml
configs_old/lightning_train/datamodule/idlm_stories.yaml
configs_old/lightning_train/datamodule/ilm_stopping_grammar.yaml
configs_old/lightning_train/datamodule/ilm_stopping_lm1b_anlg.yaml
configs_old/lightning_train/datamodule/ilm_stopping_lm1b_infill.yaml
configs_old/lightning_train/datamodule/ilm_stopping_lm1b.yaml
configs_old/lightning_train/datamodule/ilm_stopping_owt.yaml
configs_old/lightning_train/datamodule/ilm_stopping_stories_infill.yaml
configs_old/lightning_train/datamodule/ilm_stopping_stories.yaml
configs_old/lightning_train/datamodule/lm1b.yaml
configs_old/lightning_train/datamodule/mdlm_legacy_lm1b_infill.yaml
configs_old/lightning_train/datamodule/mdlm_lm1b.yaml
configs_old/lightning_train/datamodule/mdlm_stories_infill.yaml
configs_old/lightning_train/datamodule/mdlm_stories.yaml
configs_old/lightning_train/datamodule/owt.yaml
configs_old/lightning_train/datamodule/star_arlm.yaml
configs_old/lightning_train/datamodule/star_idlm.yaml
configs_old/lightning_train/datamodule/star_ilm_stopping.yaml
configs_old/lightning_train/datamodule/star_ilm.yaml
configs_old/lightning_train/datamodule/star_it.yaml
configs_old/lightning_train/datamodule/star_mdlm_v2.yaml
configs_old/lightning_train/datamodule/star_mdlm.yaml
configs_old/lightning_train/datamodule/star_mlm.yaml
configs_old/lightning_train/datamodule/star_v2.yaml
configs_old/lightning_train/datamodule/star_xlnet.yaml
configs_old/lightning_train/datamodule/star.yaml
configs_old/lightning_train/datamodule/zebra_arlm.yaml
configs_old/lightning_train/datamodule/zebra_ilm_stopping.yaml
configs_old/lightning_train/datamodule/zebra_mdlm.yaml
configs_old/lightning_train/datamodule/zebra.yaml
configs_old/lightning_train/dataset/babylm.yaml
configs_old/lightning_train/dataset/countdown_3.yaml
configs_old/lightning_train/dataset/countdown_4.yaml
configs_old/lightning_train/dataset/countdown_5.yaml
configs_old/lightning_train/dataset/grammar.yaml
configs_old/lightning_train/dataset/lm1b_v2.yaml
configs_old/lightning_train/dataset/lm1b.yaml
configs_old/lightning_train/dataset/owt.yaml
configs_old/lightning_train/dataset/repeated_char.yaml
configs_old/lightning_train/dataset/star_small_v0.yaml
configs_old/lightning_train/dataset/star_small_v2.yaml
configs_old/lightning_train/dataset/star_small.yaml
configs_old/lightning_train/dataset/stories.yaml
configs_old/lightning_train/dataset/vstar_medium_v2.yaml
configs_old/lightning_train/dataset/vstar_medium.yaml
configs_old/lightning_train/dataset/vstar_small_v2.yaml
configs_old/lightning_train/dataset/vstar_small.yaml
configs_old/lightning_train/dataset/zebra_sorted.yaml
configs_old/lightning_train/dataset/zebra.yaml
configs_old/lightning_train/debug/debug_callbacks.yaml
configs_old/lightning_train/debug/debug_multinode.yaml
configs_old/lightning_train/debug/debugger.yaml
configs_old/lightning_train/debug/efficiency.yaml
configs_old/lightning_train/debug/local_with_compile.yaml
configs_old/lightning_train/debug/optimized_run.yaml
configs_old/lightning_train/debug/overfit_lm1b.yaml
configs_old/lightning_train/debug/overfit_long_seq.yaml
configs_old/lightning_train/debug/overfit_star_v2.yaml
configs_old/lightning_train/debug/overfit_star.yaml
configs_old/lightning_train/debug/overfit_stories.yaml
configs_old/lightning_train/debug/overfit_v2.yaml
configs_old/lightning_train/debug/overfit_zebra_sorted.yaml
configs_old/lightning_train/debug/overfit_zebra.yaml
configs_old/lightning_train/debug/overfit.yaml
configs_old/lightning_train/debug/small_data_eval.yaml
configs_old/lightning_train/debug/small_data_v2.yaml
configs_old/lightning_train/debug/small_data_with_checkpointing.yaml
configs_old/lightning_train/debug/small_data.yaml
configs_old/lightning_train/experiment/arlm_lm1b.yaml
configs_old/lightning_train/experiment/arlm_stories_generate.yaml
configs_old/lightning_train/experiment/arlm_stories.yaml
configs_old/lightning_train/experiment/arlm_tiny2_zebra_sorted.yaml
configs_old/lightning_train/experiment/arlm_zebra_sorted.yaml
configs_old/lightning_train/experiment/arlm_zebra.yaml
configs_old/lightning_train/experiment/idlm_grammar.yaml
configs_old/lightning_train/experiment/idlm_lm1b_diffusion_geometric.yaml
configs_old/lightning_train/experiment/idlm_lm1b_generate.yaml
configs_old/lightning_train/experiment/idlm_lm1b_v4.yaml
configs_old/lightning_train/experiment/idlm_lm1b.yaml
configs_old/lightning_train/experiment/idlm_stories_diffusion_geometric.yaml
configs_old/lightning_train/experiment/idlm_stories_diffusion_loglinear.yaml
configs_old/lightning_train/experiment/idlm_stories_generate_loglinear.yaml
configs_old/lightning_train/experiment/idlm_stories_generate_v2.yaml
configs_old/lightning_train/experiment/idlm_stories_generate.yaml
configs_old/lightning_train/experiment/idlm_stories_v3.yaml
configs_old/lightning_train/experiment/idlm_stories_v4.yaml
configs_old/lightning_train/experiment/idlm_stories.yaml
configs_old/lightning_train/experiment/idlm_vstar_medium_diffusion_weights_geometric_eval.yaml
configs_old/lightning_train/experiment/idlm_vstar_medium_diffusion_weights_geometric.yaml
configs_old/lightning_train/experiment/idlm_vstar_medium_diffusion_weights_loglinear.yaml
configs_old/lightning_train/experiment/idlm_vstar_medium_diffusion_weights.yaml
configs_old/lightning_train/experiment/idlm_vstar_medium_eval.yaml
configs_old/lightning_train/experiment/idlm_vstar_medium_poisson.yaml
configs_old/lightning_train/experiment/idlm_vstar_medium.yaml
configs_old/lightning_train/experiment/ilm_countdown_3_eval.yaml
configs_old/lightning_train/experiment/ilm_countdown_3.yaml
configs_old/lightning_train/experiment/ilm_countdown_4.yaml
configs_old/lightning_train/experiment/ilm_countdown_5_eval.yaml
configs_old/lightning_train/experiment/ilm_countdown_5.yaml
configs_old/lightning_train/experiment/ilm_grammar.yaml
configs_old/lightning_train/experiment/ilm_lm1b_finetune_stories.yaml
configs_old/lightning_train/experiment/ilm_lm1b_generate_anlg.yaml
configs_old/lightning_train/experiment/ilm_lm1b_generate_timed.yaml
configs_old/lightning_train/experiment/ilm_lm1b_generate_with_history.yaml
configs_old/lightning_train/experiment/ilm_lm1b_generate.yaml
configs_old/lightning_train/experiment/ilm_lm1b_infill.yaml
configs_old/lightning_train/experiment/ilm_lm1b.yaml
configs_old/lightning_train/experiment/ilm_owt_debug_multi_node.yaml
configs_old/lightning_train/experiment/ilm_owt_debug.yaml
configs_old/lightning_train/experiment/ilm_owt_generate.yaml
configs_old/lightning_train/experiment/ilm_owt_multi_node.yaml
configs_old/lightning_train/experiment/ilm_owt.yaml
configs_old/lightning_train/experiment/ilm_stories_generate_timed.yaml
configs_old/lightning_train/experiment/ilm_stories_generate.yaml
configs_old/lightning_train/experiment/ilm_stories_infill_constraint.yaml
configs_old/lightning_train/experiment/ilm_stories_infill.yaml
configs_old/lightning_train/experiment/ilm_stories_overfit.yaml
configs_old/lightning_train/experiment/ilm_stories.yaml
configs_old/lightning_train/experiment/ilm_tiny_zebra_eval.yaml
configs_old/lightning_train/experiment/ilm_tiny_zebra.yaml
configs_old/lightning_train/experiment/ilm_tiny2_star_small.yaml
configs_old/lightning_train/experiment/ilm_tiny2_vstar_medium.yaml
configs_old/lightning_train/experiment/ilm_tiny2_vstar_small_gpt2.yaml
configs_old/lightning_train/experiment/ilm_tiny2_vstar_small.yaml
configs_old/lightning_train/experiment/ilm_tiny2_zebra_sorted_eval.yaml
configs_old/lightning_train/experiment/ilm_tiny2_zebra_sorted.yaml
configs_old/lightning_train/experiment/ilm_tiny2_zebra.yaml
configs_old/lightning_train/experiment/ilm_vstar_medium_generate_with_history.yaml
configs_old/lightning_train/experiment/ilm_vstar_medium.yaml
configs_old/lightning_train/experiment/ilm_xtiny2_star_small.yaml
configs_old/lightning_train/experiment/ilm_xtiny2_vstar_medium.yaml
configs_old/lightning_train/experiment/ilm_xtiny2_vstar_small.yaml
configs_old/lightning_train/experiment/ilm_zebra_sorted.yaml
configs_old/lightning_train/experiment/ilm_zebra.yaml
configs_old/lightning_train/experiment/it_stochastic_star_small.yaml
configs_old/lightning_train/experiment/it_stochastic_vstar_medium.yaml
configs_old/lightning_train/experiment/it_stochastic_vstar_small.yaml
configs_old/lightning_train/experiment/it_vstar_medium.yaml
configs_old/lightning_train/experiment/length_analysis_stories.yaml
configs_old/lightning_train/experiment/lm1b_generative_perplexity.yaml
configs_old/lightning_train/experiment/lm1b_infill_multi_nll.yaml
configs_old/lightning_train/experiment/lm1b_infill_single_nll.yaml
configs_old/lightning_train/experiment/mdlm_legacy_lm1b_finetune_stories.yaml
configs_old/lightning_train/experiment/mdlm_legacy_lm1b_generate_timed.yaml
configs_old/lightning_train/experiment/mdlm_legacy_lm1b_infill.yaml
configs_old/lightning_train/experiment/mdlm_legacy_lm1b.yaml
configs_old/lightning_train/experiment/mdlm_lm1b_finetune_stories.yaml
configs_old/lightning_train/experiment/mdlm_lm1b.yaml
configs_old/lightning_train/experiment/mdlm_star_small.yaml
configs_old/lightning_train/experiment/mdlm_stories_generate_timed.yaml
configs_old/lightning_train/experiment/mdlm_stories_generate.yaml
configs_old/lightning_train/experiment/mdlm_stories_infill.yaml
configs_old/lightning_train/experiment/mdlm_stories.yaml
configs_old/lightning_train/experiment/mdlm_tiny2_zebra_overfit.yaml
configs_old/lightning_train/experiment/mdlm_tiny2_zebra_sorted.yaml
configs_old/lightning_train/experiment/mdlm_vstar_medium_eval.yaml
configs_old/lightning_train/experiment/mdlm_vstar_medium_generate.yaml
configs_old/lightning_train/experiment/mdlm_vstar_medium.yaml
configs_old/lightning_train/experiment/mdlm_vstar_small.yaml
configs_old/lightning_train/experiment/mdlm_zebra_sorted.yaml
configs_old/lightning_train/experiment/mdlm_zebra.yaml
configs_old/lightning_train/experiment/mlm_star.yaml
configs_old/lightning_train/experiment/mlm_vstar_small.yaml
configs_old/lightning_train/experiment/stories_generative_perplexity.yaml
configs_old/lightning_train/experiment/stories_infill_single_nll.yaml
configs_old/lightning_train/experiment/xlnet_star_small.yaml
configs_old/lightning_train/experiment/xlnet_vstar_medium.yaml
configs_old/lightning_train/experiment/xlnet_vstar_small.yaml
configs_old/lightning_train/generation/default.yaml
configs_old/lightning_train/generation/lm1b_anlg.yaml
configs_old/lightning_train/generation/lm1b.yaml
configs_old/lightning_train/generative_perplexity/gpt2-small.yaml
configs_old/lightning_train/generative_perplexity/llama3_3B.yaml
configs_old/lightning_train/loggers/debug.yaml
configs_old/lightning_train/loggers/default.yaml
configs_old/lightning_train/loggers/tensorboard.yaml
configs_old/lightning_train/loggers/wandb.yaml
configs_old/lightning_train/model/absorbing_ddit.yaml
configs_old/lightning_train/model/ddit_small_idlm.yaml
configs_old/lightning_train/model/ddit_small_mdlm.yaml
configs_old/lightning_train/model/ddit_small_varlen.yaml
configs_old/lightning_train/model/ddit_small_varlen2.yaml
configs_old/lightning_train/model/ddit_small.yaml
configs_old/lightning_train/model/ddit_tiny2_mdlm.yaml
configs_old/lightning_train/model/ddit_xtiny_mdlm.yaml
configs_old/lightning_train/model/gpt2_tiny2_ilm_stopping.yaml
configs_old/lightning_train/model/gpt2_tiny2.yaml
configs_old/lightning_train/model/gpt2.yaml
configs_old/lightning_train/model/mlm.yaml
configs_old/lightning_train/model/rotary_transformer_small_arlm.yaml
configs_old/lightning_train/model/rotary_transformer_small_ilm_stopping.yaml
configs_old/lightning_train/model/rotary_transformer_small_ilm.yaml
configs_old/lightning_train/model/rotary_transformer_small_it.yaml
configs_old/lightning_train/model/rotary_transformer_tiny_ilm_stopping.yaml
configs_old/lightning_train/model/rotary_transformer_tiny.yaml
configs_old/lightning_train/model/rotary_transformer_tiny2_arlm.yaml
configs_old/lightning_train/model/rotary_transformer_tiny2_ilm_stopping.yaml
configs_old/lightning_train/model/rotary_transformer_tiny2.yaml
configs_old/lightning_train/model/rotary_transformer_xtiny_arlm.yaml
configs_old/lightning_train/model/rotary_transformer_xtiny2_ilm_stopping.yaml
configs_old/lightning_train/model/rotary_transformer_xtiny2.yaml
configs_old/lightning_train/model/rotary_transformer.yaml
configs_old/lightning_train/model/transformer_small_xlnet.yaml
configs_old/lightning_train/model_type/absorbing_predict_pad.yaml
configs_old/lightning_train/model_type/absorbing.yaml
configs_old/lightning_train/model_type/arlm.yaml
configs_old/lightning_train/model_type/cmdlm.yaml
configs_old/lightning_train/model_type/idlm.yaml
configs_old/lightning_train/model_type/ilm_stopping.yaml
configs_old/lightning_train/model_type/ilm.yaml
configs_old/lightning_train/model_type/it.yaml
configs_old/lightning_train/model_type/mdlm.yaml
configs_old/lightning_train/model_type/mlm.yaml
configs_old/lightning_train/model_type/rdm.yaml
configs_old/lightning_train/model_type/varlen.yaml
configs_old/lightning_train/model_type/xlnet.yaml
configs_old/lightning_train/noise_schedule/dummy.yaml
configs_old/lightning_train/noise_schedule/idlm_geometric.yaml
configs_old/lightning_train/noise_schedule/idlm_loglinear.yaml
configs_old/lightning_train/noise_schedule/idlm_poisson_lm1b.yaml
configs_old/lightning_train/noise_schedule/idlm_poisson.yaml
configs_old/lightning_train/noise_schedule/linear.yaml
configs_old/lightning_train/noise_schedule/loglinear_v2.yaml
configs_old/lightning_train/noise_schedule/loglinear.yaml
configs_old/lightning_train/noise_schedule/poisson.yaml
configs_old/lightning_train/trainer_strategy/ddp_multinode.yaml
configs_old/lightning_train/trainer_strategy/ddp.yaml
configs_old/lightning_train/trainer_strategy/single_device.yaml
configs_old/lightning_train/type/name.yaml
configs_old/lightning_train/type/preprocess_data.yaml
configs_old/slurm/generate_sbatch.yaml
configs_old/slurm/train_sbatch.yaml
configs_old/slurm/hardware/1_node_1_gpu.yaml
configs_old/slurm/hardware/ddp_4_node_1_gpu.yaml
configs_old/train/train_tokenizer.yaml
configs_old/train/data/babylm_config.yaml
configs_old/train/data/babylm_preprocess.yaml
configs_old/train/data/babylm.yaml
configs_old/train/debug/no_serialization.yaml
configs_old/train/debug/overfit.yaml
configs_old/train/debug/profile.yaml
configs_old/train/experiment/train_babylm_tokenizer.yaml
tests/**/*.txt
tests/**/*.out
**/dist/

# don't push .env
.env

data/**
temp_*.pdf