# @package _global_

defaults:
  - /metrics@reported_metrics.train.lm.accumulated_loss: accumulated_loss
  - /metrics@reported_metrics.val.lm.accumulated_loss: accumulated_loss
  - /metrics@reported_metrics.test.lm.accumulated_loss: accumulated_loss
  - /metrics@reported_metrics.val.prediction.exact_match: seq2seq_exact_match
  - /metrics@reported_metrics.test.prediction.exact_match: seq2seq_exact_match
  - /metrics@reported_metrics.val.prediction.token_accuracy: seq2seq_token_accuracy
  - /metrics@reported_metrics.test.prediction.token_accuracy: seq2seq_token_accuracy
  - /metrics@diagnostic_metrics.train.lm.length_loss: seq2seq_length_loss
  - /metrics@diagnostic_metrics.val.lm.length_loss: seq2seq_length_loss
  - /metrics@diagnostic_metrics.train.lm.token_ce: seq2seq_token_ce
  - /metrics@diagnostic_metrics.val.lm.token_ce: seq2seq_token_ce

lightning_module:
  _target_: xlm.harness.Harness

loss:
  _target_: xlm.lm.idlm.loss.IdlmLoss
  loss_on_padding: false
  use_constraint: false
  use_diffusion_weight_for_ce: false
  use_diffusion_weight_for_length_loss: false
  use_n_drops_for_ce: false
  length_loss: cross_entropy
  ce_weight: 1.0
  length_loss_weight: 1.0
  max_diffusion_weight: 100.0
  use_incomplete_gamma_factor: false
  send_t_to_model: false

predictor:
  _target_: xlm.lm.idlm.predictor.IdlmPredictor
  tokenizer: ${lightning_module:tokenizer}
  noise_schedule: ${lightning_module:noise_schedule}
  max_steps: ${block_size}
  max_length: ${eval:${block_size}+${oc.select:input_block_size,0}}
  sampling_method: sample_top_p
  p: 0.9
  top_k: 50
  temperature: 1.0

diagnostic_metrics:
  train:
    lm:
      length_loss:
        prefix: train/lm
        update_fn: xlm.lm.idlm.metrics.length_loss_metric_update_fn
      token_ce:
        prefix: train/lm
        update_fn: xlm.lm.idlm.metrics.token_ce_metric_update_fn
  val:
    lm:
      length_loss:
        prefix: val/lm
        update_fn: xlm.lm.idlm.metrics.length_loss_metric_update_fn
      token_ce:
        prefix: val/lm
        update_fn: xlm.lm.idlm.metrics.token_ce_metric_update_fn

reported_metrics:
  train:
    lm:
      accumulated_loss:
        prefix: train/lm
        update_fn: xlm.lm.idlm.metrics.mean_metric_update_fn
  val:
    lm:
      accumulated_loss:
        prefix: val/lm
        update_fn: xlm.lm.idlm.metrics.mean_metric_update_fn
    prediction:
      exact_match:
        prefix: val/prediction
        update_fn: xlm.metrics.seq2seq_exact_match_update_fn
      token_accuracy:
        prefix: val/prediction
        update_fn: xlm.metrics.seq2seq_token_accuracy_update_fn
  test:
    lm:
      accumulated_loss:
        prefix: test/lm
        update_fn: xlm.lm.idlm.metrics.mean_metric_update_fn
    prediction:
      exact_match:
        prefix: test/prediction
        update_fn: xlm.metrics.seq2seq_exact_match_update_fn
      token_accuracy:
        prefix: test/prediction
        update_fn: xlm.metrics.seq2seq_token_accuracy_update_fn

tags:
  model_type: idlm
